.App {
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
  height: 50px;
  /* border: 1px solid #680adc; */
}

.header-logo {
  max-height: 40px;
  padding: 10px;
}

.modal-overlay { 
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: .5;
}

.modal-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  outline: 0;
  min-width: 500px;
}

.modal {
  z-index: 100;
  background: white;
  position: relative;
  margin: 16px auto;
  border-radius: 3px;
  max-width: 500px;
  padding: 8px;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
}

.modal-close-button {
  font-size: 18px;
  border: none;
}

button {
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 3px;
  padding: 4px 16px;
  background: #9572f8;
  color: #fff;
  cursor: pointer;
  margin: 0 2px;
}

.candidates-list {
  width: 100%;
  margin: 48px 0;
}

.candidate-row {
  cursor: pointer;
  justify-content: space-between;
  display: flex;
  padding: 8px 16px;
  min-width: 700px;
  font-size: 14px;
}

.candidate-row button,
.candidate-row div {
  width: 200px;
  min-width: 100px;
}

.row-buttons {
  display: flex;
  margin-right: 12px;
}

/* .accept-button {
  background: ;
  max-width: 100px;
  border: 1px solid #680adc;
} */

.accept-button,
.reject-button {
  background: #fff;
  color: #680adc;
  border: 1px solid #680adc;
  max-width: 100px;
  z-index: 50;
}