.App {
  text-align: center;
  /* min-width: 500px; */
}

.header {
  justify-content: center;
  height: 50px;
}

.flex {
  display: flex;
}

.header-logo {
  max-height: 40px;
  padding: 10px;
}

.top-info {
  margin: 24px;
  font-weight: 500;
}

.modal-overlay { 
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: .5;
}

.modal-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  outline: 0;
  min-width: 500px;
}

.modal {
  z-index: 100;
  background: white;
  position: relative;
  margin: 120px auto;
  border-radius: 3px;
  max-width: 500px;
  padding: 8px;
}

.modal-header {
  justify-content: flex-end;
}

.modal-body {
  padding: 12px 36px;
}

.modal-body div {
  padding: 4px 0px;
  justify-content: space-between;
}

.modal-data {
  margin: 18px 0 8px 0;
  font-size: 16px;
  font-weight: 500;
}

.modal-data div {
  padding: 2px 0;
}

.modal-body img {
  width: 100px;
  height: 100%;
  border-radius: 3px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.modal label {
  font-size: 16px;
  font-weight: 500;
}

button {
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 3px;
  padding: 8px 16px;
  background: #9572f8;
  color: #fff;
  cursor: pointer;
  margin: 0 4px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease 0s;
}

.candidates-list {
  width: 100%;
}

.candidate-row {
  cursor: pointer;
  justify-content: space-evenly;
  padding: 8px 16px;
  min-width: 750px;
  font-size: 15px;
  font-weight: 500;
  margin-top: 4px;
}

.candidate-row > div {
  margin: auto 0;
}

.candidate-row button,
.candidate-row div {
  width: 200px;
  min-width: 100px;
  justify-content: space-evenly; 
}

.modal .row-buttons {
  justify-content: end;
  margin-right: -5px;
  margin-top: 4px;
}

.accept-button,
.reject-button {
  background: #fff;
  color: #680adc;
  border: 1.5px solid #680adc;
  max-width: 100px;
  z-index: 50;
}

.candidate-name {
  font-size: 36px;
  margin: auto 0;
  font-weight: 600;
}

button:hover {
  background-color: #680adc;
  box-shadow: 0px 6px 8px #cfa9ff;
  color: #fff;
  border: 1.5px solid transparent;
}

button.accept-button:hover {
  background-color: #2EE59D;
  box-shadow: 0px 6px 8px rgba(46, 229, 157, 0.4);
}

button.reject-button:hover {
  background-color: rgb(229, 73, 46);
  box-shadow: 0px 6px 8px rgba(229, 77, 46, 0.4);
}

.modal-close-button {
  color: #680adc;
  background: none;
  padding: 4px;
  font-size: 32px;
  box-shadow: none;
  margin-right: 8px;
  margin-top: 0px;
  transition-duration: 2s;
  transition-property: transform;
}

.modal-close-button:hover {
  color: #9572f8;
  border: none;
  background-color: #fff;
  box-shadow: none;
  transform: rotate(360deg);
}

.react-tabs__tab-list {
  color: #680adc;
  font-weight: 500;
}

@media screen and (max-width: 900px) {
  .candidate-location {
    padding-left: 50px;
  }
}

@media screen and (max-width: 800px) {
  .candidate-row {
    justify-content: center;
    min-width: 400px;
    margin: 0;
    margin-left: -24px;
    padding-left: 15%;
  }

  .row-buttons {
    padding-left: 20px;
    padding-right: 20px;
  }

  .candidate-location {
    display: none;
  }
}